.product-image,
.thumbnail-item img
{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.thumbnail-container {
  display: flex;
  margin: 20px 0;
}

.thumbnail-item {
  width: 120px;
  height: 120px;
  margin-right: 5px;
}

.thumbnail-item:last-child {
  margin-right: 0;
}

.thumbnail-item.active {
  border: 2px solid rgba(63, 213, 213, 0.62);
}

.product-details {
  color: #FFF;
  padding: 20px;
}

.product-actions {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

.product-actions button {
  margin-right: 10px;
}

.product-quantity {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
}

.product-quantity button {
  border-color: transparent;
  font-size: 16px;
  cursor: pointer;
}
.product-quantity input {
  text-align: center;
  width: 50px;
}
